{block headTitle}Edit Language -"{$language->name}"{/block}
{block title}Edit Language - <strong>"{$language->name}"</strong>{/block}

{block content}
    {snippet translation}
        {control translationForm}
    {/snippet}
{/block}