{block headTitle}Edit "{$item->adminname}"{/block}
{block title}Edit <strong>"{$item->adminname}"</strong>{/block}

{block content}
    {snippet seosettings}
        {control seosettingsForm}
    {/snippet}
{/block}