{block metaTitle}{$seosettings|dictionaryData:'seosettings','title',$language->id}{/block}

{block metaDescription}{$seosettings|dictionaryData:'seosettings','description',$language->id}{/block}
{block content}


{/block}