{block headTitle}Edit "{$item|dictionaryData:'banner':'title'}"{/block}
{block title}Edit <strong>"{$item|dictionaryData:'banner':'title'}"</strong>{/block}
{block content}
    {snippet banner}
        {control bannerForm}
    {/snippet}
{/block}