{block headTitle}Add Variant for meal "{$alacarteitem|dictionaryData:'alacarteitem':'name'}"{/block}
{block title}Add variant for meal "{$alacarteitem|dictionaryData:'alacarteitem':'name'}"{/block}

{block content}
    {snippet alacarteitemvariant}
        {control alacarteItemVariantForm}
    {/snippet}
{/block}