{block headTitle}Add meal to category "{$category|dictionaryData:'alacartecategory':'name'}"{/block}
{block title}Add meal to category "{$category|dictionaryData:'alacartecategory':'name'}"{/block}

{block content}
    {snippet alacarte}
        {control alacarteItemForm}
    {/snippet}
{/block}