{block headTitle}Edit meal "{$category|dictionaryData:'alacartecategory':'name'}"{/block}
{block title}edit meal "{$category|dictionaryData:'alacartecategory':'name'}"{/block}

{block content}
    {snippet alacarte}
        {control alacarteItemForm}
    {/snippet}
{/block}