{block headTitle}Edit meal variant "{$alacarteitem|dictionaryData:'alacarteitem':'name'}"{/block}
{block title}Edit meal variant "{$alacarteitem|dictionaryData:'alacarteitem':'name'}"{/block}

{block content}
    {snippet alacarte}
        {control alacarteItemVariantForm}
    {/snippet}
{/block}