{block headTitle}Edit À la carte "{$item|dictionaryData:'alacartecategory':'name'}"{/block}
{block title}Edit À la carte <strong>"{$item|dictionaryData:'alacartecategory':'name'}"</strong>{/block}
{block content}
    {snippet alacarte}
        {control alacarteCategoryForm}
    {/snippet}
{/block}