{block headTitle}Edit space offer - "{$item|dictionaryData:'spaceoffer':'name'}"{/block}
{block title}Edit space offer - <strong>"{$item|dictionaryData:'spaceoffer':'name'}"</strong>{/block}

{block content}
    {snippet spaceoffer}
        {control spaceOfferForm}
    {/snippet}
{/block}