{block headTitle}Edit "{$item->name}"{/block}
{block title}Edit <strong>"{$item->name}"</strong>{/block}

{block content}
    {snippet language}
        {include '_form.latte'}
    {/snippet}
{/block}