{block headTitle}Edit "{$item->name}"{/block}
{block title}Edit <strong>"{$item->name}"</strong>{/block}
{block content}
    {snippet galleryvideo}
{*        {include '_form.latte'}*}
        {control galleryvideoForm}
    {/snippet}
{/block}