{block headTitle}Edit allergen - "{$item|dictionaryData:'allergen':'name'}"{/block}
{block title}Edit allergen -  <strong>"{$item|dictionaryData:'allergen':'name'}"</strong>{/block}
{block content}
    {snippet allergen}
        {control allergenForm}
    {/snippet}
{/block}